repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: check-added-large-files
            args: ["--maxkb=128"]
          - id: check-ast
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: detect-aws-credentials
            args: ["--allow-missing-credentials"]
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: pretty-format-json
            args: ["--autofix", "--no-sort-keys", "--indent=4"]
          - id: trailing-whitespace

    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.4
      hooks:
          - id: codespell
            additional_dependencies:
                - tomli

    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.265
      hooks:
          - id: ruff

    - repo: https://github.com/psf/black
      rev: 23.3.0
      hooks:
          - id: black

    - repo: https://github.com/tox-dev/pyproject-fmt
      rev: 0.11.2
      hooks:
          - id: pyproject-fmt

    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.12.2
      hooks:
          - id: validate-pyproject
