ci:
  autoupdate_schedule: monthly
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
            args: ["--maxkb=128"]
          - id: check-ast
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: detect-aws-credentials
            args: ["--allow-missing-credentials"]
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: fix-byte-order-marker
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: pretty-format-json
            args: ["--autofix", "--no-sort-keys", "--indent=4"]
          - id: trailing-whitespace

    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            additional_dependencies:
                - tomli

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.3
      hooks:
          - id: ruff-check
            args: [ --fix ]
          - id: ruff-format

    - repo: https://github.com/tox-dev/pyproject-fmt
      rev: v2.11.0
      hooks:
          - id: pyproject-fmt

    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.24.1
      hooks:
          - id: validate-pyproject
