language: python
python:
  - "2.7"

before_install:
  - sudo apt-get update
  - sudo apt-get install default-jdk
  - pip install requests

before_script:
  - python get-solr-download-url.py 4.7.2 | xargs curl -sSO

install:
  - pip install tox

script:
  - tox -e $TOX_ENV

env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=py34

notifications:
  # irc: "irc.freenode.org#pysolr"
  email: false
