name: "PyPI releases"

on: release

jobs:
    build_distributions:
        name: Build distributions
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Build distributions
              run: pipx run build

            - uses: actions/upload-artifact@v5
              with:
                  path: dist/*

    pypi-publish:
        name: Upload release to PyPI
        if: github.event_name == 'release' && github.event.action == 'published'
        needs:
            - build_distributions
        runs-on: ubuntu-latest
        environment:
            name: pypi
            url: https://pypi.org/p/pysolr
        permissions:
            id-token: write
        steps:
            - uses: actions/download-artifact@v6
              with:
                  # unpacks default artifact into dist/
                  # if `name: artifact` is omitted, the action will create extra parent dir
                  name: artifact
                  path: dist
            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
