name: ruff_and_tox
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  ruff: # https://docs.astral.sh/ruff/editor-integrations/#github-actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: |
          python -m pip install --upgrade pip
          pip install --user "codespell[toml]" ruff
      - run: codespell
      - run: ruff check --output-format=github

  tox:
    needs: ruff
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - run: pip install --upgrade pip
      - run: pip install six tox
      - run: tox -e py
