name: ruff_and_tox
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  ruff:  # https://beta.ruff.rs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: pip install --user "codespell[toml]" ruff
    - run: codespell
    - run: ruff --format=github .

  tox:
    needs: ruff
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10', '3.11', 'pypy3.9']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install --upgrade "pip < 23.0"
      - run: pip install tox
      - run: tox -e py
